<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195458185366-icb3538un8u10m86elpf285ss14bdl24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195458185366-icb3538un8u10m86elpf285ss14bdl24</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195458185366-21ao6hmns55io61mjft27nr79shcn3tr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCepsXUo3FdomnDbUSJ1u9xzmNM0OGmz2w</string>
	<key>GCM_SENDER_ID</key>
	<string>195458185366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orderart.staging</string>
	<key>PROJECT_ID</key>
	<string>orderart-ac4e9</string>
	<key>STORAGE_BUCKET</key>
	<string>orderart-ac4e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195458185366:ios:675d4daa7ce001d6482ab7</string>
	<key>DATABASE_URL</key>
	<string>https://orderart-ac4e9.firebaseio.com</string>
</dict>
</plist>